body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-gap: 10px;
  background-color: #333;
  padding: 10px;
  border-radius: 10px;
}

.cell {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #fff;
  background-color: #555;
  cursor: pointer;
  color: aqua;
  font-size: 1000%;
}

.cell:hover {
  background-color: #777;
}
